/* ===== */
/* RESET */
/* ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* RESET BODY ET HTML */
html,
body {
  height: 100%;
  font-family: sans-serif;
}

/* LISTES SANS PUCE NI INDENTATION */
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

/* LIENS SANS SOULIGNEMENT PAR DÉFAUT */
a {
  text-decoration: none;
  color: inherit;
}

/* IMAGES RÉACTIVES */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ============= */
/* ROOT VARIABLE */
/* ============= */
:root {
  /* COULEUR DE FOND  */
  --couleur-fond-principal: #f6e8dd;
  --couleur-fond-secondaire: #b78a69;
  --couleur-fond-perle: #dbcbcd;
  --couleur-fond-perle-transparente: rgba(219, 203, 205, 0.2);
  --couleur-fond-vert: #c3be71;
  --couleur-fond-rose: #cb6191;

  /* COULEUR BORDURE */
  --couleur-bordure-principal: #f6e8dd;
  --couleur-bordure-secondaire: #b78a69;
  --couleur-bordure-perle: #dbcbcd;
  --couleur-bordure-vert: #c3be71;
  --couleur-bordure-rose: #cb6191;

  /* TAILLE BORDURE */
  --border-sm: 2px;
  --border-md: 3px;
  --border-lg: 4px;
  --border-xl: 6px;

  /* RADIUS BORDURE */
  --border-radius-sm: 0.5rem;
  --border-radius-lg: 1rem;

  /* SHADOW BORDURE */
  --shadow-lg: 0 0 10px rgba(0, 0, 0, 0.5);
  --shadow-sm: 0 0 5px rgba(0, 0, 0, 0.1);

  /* POLICES */
  --font-delius: "Delius", cursive;
  --font-ibm: "IBM Plex Mono", monospace;

  /* COULEUR DE POLICES */
  --couleur-police-principal: #f6e8dd;
  --couleur-police-secondaire: #b78a69;
  --couleur-police-vert: #c3be71;
  --couleur-police-perle: #dbcbcd;
  --couleur-police-rose: #cb6191;

  /* TAILLES POLICES */
  --font-size-ss: 0.5rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.3rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 1.7rem;

  /* ESPACEMENT */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 2.5rem;
}
/* ================== */
/* DEBUT FLEXBOX BODY */
/* ================== */

h1,
h2,
h3,
h4 {
  font-family: var(--font-delius);
}

p,
li,
a {
  font-family: var(--font-ibm);
  text-align: justify;
}

body {
  display: flex;
  margin: auto;
  height: auto;
  max-width: 1600px;
}

.nav-fixed {
  width: 200px;
  height: 100%;
  background-color: var(--couleur-fond-rose);
  box-shadow: var(--shadow-lg);
  padding-top: 15%;
  position: fixed;
  overflow: hidden;
}

.grid-container-body {
  width: auto;
  height: auto;
  flex: 1;
  background-color: var(--couleur-fond-principal);
  margin-left: 210px;
  padding: 0 20px 0 20px;
}

/* ======= */
/* NAV BAR */
/* ======= */

.nav-fixed h1 {
  width: 200px;
  height: auto;
  padding: var(--spacing-sm);
  text-align: center;
  margin-bottom: var(--spacing-lg);
  background-color: var(--couleur-fond-perle);
}

.nav-fixed a {
  width: 110%;
  height: auto;
  border-top-right-radius: var(--spacing-lg);
  border-bottom-right-radius: var(--spacing-lg);
  border: white 1px solid;
  padding: var(--spacing-md);
  margin-bottom: var(--spacing-md);
  padding-left: var(--spacing-xl);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: -160px;
  transition: left 0.3s ease-in-out, box-shadow 0.3s;
}

/* =========================== */
/* ANIMATION DU HOVER SUR LE A */
/* =========================== */

.nav-fixed a:hover {
  left: -30px; /* glisse vers la droite à sa position normale */
  background-color: var(
    --couleur-fond-perle-transparente
  ); /* optionnel pour un effet de survol doux */
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
}

/* ====== */
/* HEADER */
/* ====== */

header {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.banniere {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: block;
}

.photo-profil {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 12%;
  height: auto;
}

/* ====================*/
/* GRID CONTAINER BODY */
/* ====================*/

.grid-container-body {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: var(--spacing-lg);
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

/* =================== */
/* FLEX CONTAINER MAIN */
/* =================== */

.flex-container-main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.description {
  width: auto;
  height: auto;
  background-color: whitesmoke;
  padding: var(--spacing-lg);
  text-align: justify;
}

.description thead, .description p {
  padding: 10px;
}

table {
  border-bottom: solid 3px var(--couleur-fond-secondaire);
  border-collapse: collapse;
}

thead th {
  padding: var(--spacing-sm);
  border-left: var(--couleur-bordure-secondaire) 3px solid;
  border-bottom: solid 3px var(--couleur-fond-secondaire);
}

tbody td {
  padding: 10px;
  border-right: solid 3px var(--couleur-fond-secondaire);
}

/* ============== */
/* CARD XP DESIGN */
/* ============== */

.card-front,
.card-about {
  border-radius: var(--font-size-lg);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px); /* flou de l’arrière-plan */
  -webkit-backdrop-filter: blur(10px); /* compatibilité Safari */
  box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.2),
    0 4px 30px rgba(0, 0, 0, 0.1);
}

.card-about h2 {
  padding-bottom: var(--spacing-lg);
}

.card-about > p:first-of-type {
  text-indent: var(--spacing-lg);
}
.card-about p {
  padding: var(--spacing-sm);
}

.card-xp {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.card-back p {
  padding: var(--spacing-md);
}

.card-xp h3 {
  width: 100%;
  height: auto;
  padding: var(--spacing-sm);
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-md);
  background-color: var(--couleur-fond-perle);
}

.card-back {
  padding: var(--spacing-sm);
}

/* ================== */
/* GRID GROUP CARD XP */
/* ================== */

.card-about {
  width: 100%;
  height: auto;
  margin: auto;
  padding: var(--spacing-md);
  grid-column: 1 / -1;
}

.grid-group {
  width: 93%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  justify-content: center;
  gap: var(--spacing-md);
}

/* ================== */
/* MEDIA Q GRID GROUP */
/* ================== */

@media (max-width: 1290px) {
  .grid-group {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 870px) {
  .grid-group {
    width: 100%;
    grid-template-columns: 1fr;
  }
}

/* ==================== */
/* ANIMATION CARD HOVER */
/* ==================== */

.card-wrapper {
  perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.6s;

  transition: transform 0.6s, border 0.8s ease-in;
  border: transparent var(--border-lg) solid; /* invisible par défaut */
  border-radius: var(--spacing-md);
}

.card-wrapper:hover .card {
  transform: rotateY(180deg);
  border: var(--couleur-bordure-rose) var(--border-lg) solid;
  border-radius: var(--spacing-md);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: var(--spacing-md);
  overflow: auto;
}

.card-back {
  background-color: whitesmoke;
  transform: rotateY(180deg);
}

/* ============== */
/* CARD ID SKILLS */
/* ============== */

.card-id-skills {
  background-color: whitesmoke;
  width: auto;
  height: auto;
  padding: var(--spacing-lg);
}

.card-id-skills h2 {
  width: auto;
  height: auto;
  padding: var(--spacing-md);
  border-left: var(--couleur-bordure-secondaire) 2px solid;
  border-bottom: var(--couleur-bordure-secondaire) 2px solid;
}

.wrapper-card-id {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-md);
  padding: var(--spacing-lg);
  border-right: var(--couleur-bordure-secondaire) 2px solid;
  border-bottom: var(--couleur-bordure-secondaire) 2px solid;
}

/* MEDIA Q CARD ID SKILLS */

@media (max-width: 1400px) {
  .wrapper-card-id {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1200px) {
  .wrapper-card-id {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 992px) {
  .wrapper-card-id {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 870px) {
  .wrapper-card-id {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .wrapper-card-id {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .wrapper-card-id {
    grid-template-columns: 1fr;
  }
}

.card-id {
  min-width: 32.5%;
  height: 200px;
  background-color: white;
  border: white solid 2px;
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-sm);
  display: flex;
  flex-direction: column;
}

.haut {
  padding: var(--spacing-md);
  width: auto;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--spacing-sm);
}

.haut img {
  width: 90px;
  height: 90px;
}

.card-id-tag {
  width: 50%;
  height: auto;
  padding: var(--spacing-sm);
  align-self: center;
  text-align: center;
  background-color: var(--couleur-fond-vert);
  border-radius: var(--border-radius-lg);
}

.bas h3 {
  width: 50%;
  height: auto;
  padding: var(--spacing-sm);
  align-self: center;
  border-right: var(--couleur-bordure-rose) 2px solid;
}

.bas {
  padding: var(--spacing-md);
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--spacing-sm);
}

/* ============ */
/* SECTION WORK */
/* ============ */

.work {
  text-align: center;
	position: relative;
	padding: var(--spacing-lg);
	background: linear-gradient(135deg, var(--couleur-fond-perle), var(--couleur-fond-rose), var(--couleur-fond-vert));
	border: none;
	overflow: hidden;
	z-index: 0;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.4),
		0 0 40px rgba(255, 180, 255, 0.3);
}

.work p {
  text-align: center;
  margin-bottom: var(--spacing-md);
}

.btn {
  width: auto;
  height: auto;
  margin-top: var(--spacing-md);
  padding: var(--spacing-sm);
  border: whitesmoke 2px dashed;
  border-radius: var(--border-radius-lg);
}

.btn:hover {
  background-color: whitesmoke;
}

.work::before {
	content: "";
	position: absolute;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	background: radial-gradient(
		circle at center,
		rgba(255, 255, 255, 0.3) 0%,
		transparent 70%
	);
	transform: rotate(0deg) translateX(0);
	opacity: 0;
	transition: opacity 0.3s ease;
	z-index: -1;
	animation: sparkle 5s linear infinite;
	opacity: 1;
}

@keyframes sparkle {
	0% {
		transform: rotate(0deg) translateX(0);
	}
	100% {
		transform: rotate(360deg) translateX(10%);
	}
}

/* ============== */
/* SECTION FOOTER */
/* ============== */

.grid-container-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-lg);
  width: 100%;
  height: auto;
  padding: var(--spacing-lg);
  background-color: whitesmoke;
}

small {
  grid-column: 1 / -1;
  margin-top: var(--spacing-lg);
  justify-self: center;
}

/* ============== */
/* MEDIA Q FOOTER */
/* ============== */

@media (max-width: 870px) {
  .grid-container-footer {
    grid-template-columns: 1fr;
  }
}